* {
	margin: 0;
	padding: 0;
	width: auto;
}

body {
	font-family: 'Roboto', sans-serif;
}

.atividade {
	text-decoration: none;
	color: #000;
	transition: .2s;
}

.atividade:hover {
	color: #B35056;
}
.atividade:after {
	border-bottom: 1px solid #B35056;
	content: '';
	display: block;
	transform: scaleX(0);  
  	transition: transform 250ms ease-in-out;
}

.atividade:hover:after { transform: scaleX(1.5); }

ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

li {
	padding: 20px;
}

header {
	display: flex;
	text-align: center;
	justify-content: center;
	margin: 20px auto;
	width: 60%;
	flex-direction: column;
}

h2 a {
	text-align: center;
	padding: 20px;
	text-transform: uppercase;
	color: #B35056;
	text-decoration: none;
}

h2 a:hover {
	letter-spacing: 10px;
}

h3 {
	margin-bottom: 20px;
}

main {
	display: flex;
	margin: 0 auto;
	width: 90%;
	text-align: center;
	flex-direction: column;
}

main img {
	width: 500px;
	margin: 0 auto 20px auto;	
}

p {
	margin: 20px;
}

input {
	padding: 5px 10px;
	margin: 0 0 0 5px;
}

button {
	padding: 5px 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: bold;
}

button:hover{
	cursor: pointer;
}

#resultado, #resultado2 {
	color: #B35056;
}

iframe {
	min-height: 500px;
}